.App-header {
  min-height: 90vh;
  text-align: center;
  display: flex;
  justify-content: center;
}

.contenedor {
  margin-top: 30vh;
  width: 50vw;
}

h1 {
  font-family: 'Caveat', cursive;
  margin: 0;
  margin-bottom: 15px;
  font-size: 6em;
}

.input_search {
  border: none;
  width: 100%;
  flex: 1;
  height: 48px;
  line-height: 48px;
  font-size: 1em;
  outline: 0;
}

.label_search {
  display: inline-flex;
  background: #ffffff;
  align-items: center;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .05);
  padding: 0 2rem;
  border-radius: 5px;
  width: 100%;
}

i {
  margin-right: 1em;
  color: #f1af35;
}

i:hover {
  cursor: pointer;
  transform: scale(1.2)
}

.buscador {
  display: flex;
  position: relative;
}

.buscador .close {
  position: absolute;
  right: 1em;
  top:1em;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .05);
  color: #000;
}

footer{
  color: #000;
  text-align: center;
  min-height: 10vh;
}

footer h3{
  margin: 0;
  font-size: 1.5em;
  font-weight: 900;
}

.top_search {
  display: flex;
  min-height: 15vh;
  justify-content: start;
  align-items: center;
}

.container_top_search{
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.top_search h1 {
  font-size: 2em;
  margin-right: 2em;
  cursor: pointer;
}

.top_search div {
  width: 50vw;
}

.wrapper {
  max-width: 1412px;
  margin: auto;
  padding: 0 1rem;
}

.container_resultados {
  background-color: #fff;
  min-height: 85vh;
  padding-top: 20px;
}

.resultado {
  width: 60vw;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid transparent;
  margin-bottom: 1em;
}

.resultado:hover{
  border: 1px solid #333;
}

.resultado h1 {
  color: #f1af35;
  font-size: 1.5em;
  margin: 0;
}

.resultado a {
  color: #20692b;
  margin: 0;
  margin-bottom: 1em;
}
